::picker-iconurl
.main-title{color: crimson;}

body 
{
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #bb3dff, #f0ff67);
    color: #222;
}

button {
    display: block;
    margin: 10px auto;
    background: #fff765;
    border: none;
    padding: 12px 20px;
    margin: 10px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;

}
button 
   .kkk{color: rgb(221, 255, 0);
}
   h1 { 
      text-align: center;
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
    color: #000000;
}   
   h2 {
      text-align: center; 
      color: rgb(0, 0, 0);
   }
